

.container{
    height: 97vh;
    position: relative;
    background-color: rebeccapurple;
}
.conteudo{
    background-color: black;
    color: aliceblue;

    width: 400px;
    padding: 20px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    border: 1px solid;
    border-radius: 30%;
}

.btn{
    border: none;
    border-radius: 15px;
    background-color: rebeccapurple;
    color: aliceblue;
    max-width: 100px;
    width: 100%;
    margin: 15px;
}
.btn:active{
    background-color: rgb(168, 6, 6);
}